#mid{
    flex-direction: column;
    padding-top:30px;
    padding-bottom: 30px;
}

#middle{
    display:flex;
    padding-top:60px;
    padding-bottom:60px;
    background-color: #f2f2f2;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portrait{
    margin:20px;
    display: flex;
}

#images{
    display: flex;
    flex-direction: row;
}

#images img{
    width:200px;
    margin:7.5px;
    border: 2px black solid;
}

button{
    border:none;
    margin-top:10px;
    padding:10px;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    background-color: #800020;
}

h1{
    margin-bottom:100px;
}

#overview{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

#width{
    margin-left:80px;
    margin-right:50px;
}

#about_me{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

footer{
    background-color: white;
}

@media(max-width:1030px){
    #middle{
        background-color: #f2f2f2;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:0px;
        padding-top:30px;
        padding-bottom:30px;
    }

    h1{
        margin-bottom:50px;
    }

    #width{
        margin:0px;
        text-align: center;
    }

    #images img{
        width:70px;
        margin-left:2.5px;
        margin-right:2.5px;
    }

    #portrait{
        width:150px;
    }
}