#mid{
    padding-top:60px;
    padding-bottom:60px;
}

#txt{
    margin-left:20px;
}

#desc{
    margin: 0px;
}

#desc div{
    margin-bottom: 20px;
}

#assoc_container{
    margin:0px;
}

#associates{
    background-color: white;
    display:flex;
    justify-content: center;
    margin:0px;
    margin-left:10px;
    margin-right:10px;
    padding:30px;
}

#AZ_list,#other_list{
    display: flex;
    flex-direction: column;
    background-color: white;
}

#crew,#others{
    margin-left: 20px;
}

.new_pic{
    margin-left: 20px;
}

@media(max-width:1030px){
    #AZ_list,#other_list{
        text-align: center;
    }

    #assoc_container{
        background-color: white;
        display: flex;
        flex-direction: column;
        padding-bottom:5px;
        padding-top:5px;
        margin:0px;
        width:93.5%
    }
    
    .new_pic{
        margin-left:0px;
        border: 10px solid black;
    }
    
    .new_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:20px
    }

    .link_align{
        display: flex;
        justify-content: center;
    }

    .button_opacity{
        margin-top: 10px;
    }
    
    .button_pos{
        align-self: center;
    }
}