body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top:10px;
}

#nav{
    display:flex;
    font-size:200%;
    justify-content: space-around;
    padding-top:10px;
}

div{
    margin-left:10px;
    margin-right:10px;
}

img{
    width: 300px;
}

#mid{
    display:flex;
    justify-content:center;
    background-color: #f2f2f2;
    padding:30px;
    padding-top:120px;
    padding-bottom:120px;
}

#portrait{
    width: 200px;
    border:4px brown solid;
}

h1{
    font-size:40px;
}

#desc{
    width:400px;
}

#desc p{
    font-size: 120%;
}

#button{
    display: flex;
}

#read{
    font-weight: bold;
    background-color:lightblue;
    width:25%;
    padding:1%;
    margin-top:8%;
    display:flex;
    justify-content: center;
}

#link{
    font-weight: bold;
    background-color:lightgreen;
    width:25%;
    padding:1%;
    margin-top:8%;
    display:flex;
    justify-content: center;
}

#orgs{
    background-color: white;
}

#organizations{
    display:flex;
    justify-content: center;
}

#images{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#asc{
    margin-top:10px;
}

#org_txt{
    background-color: white;
    padding-top:15px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

footer{
    background-color: #f2f2f2;
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    text-align:center;
}

#assoc{
    display: flex;
    justify-content: center;
}