body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top:10px;
}

#nav{
    display:flex;
    font-size:200%;
    justify-content: space-around;
    padding-top:10px;
}

div{
    margin-left:10px;
    margin-right:10px;
}

#middle{
    display:flex;
    padding-top:60px;
    padding-bottom:60px;
    background-color: #f2f2f2;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portrait img{
    width: 200px;
    border:4px brown solid;
    margin:20px;
    display: flex;
}

#images{
    display: flex;
    flex-direction: row;
}

#images img{
    width:200px;
    margin:7.5px;
    border: 2px black solid;
}

button{
    border:none;
    margin-top:10px;
    padding:10px;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    background-color: #800020;
}

h1{
    margin-bottom:100px;
}

.noline{
    text-decoration: none;
    color:black;
}

img{
    width: 300px;
}

#overview{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

#width{
    margin-left:80px;
    width:800px;
}

#about_me{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

footer{
    background-color: white;
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    text-align:center;
}