body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top:10px;
}

#nav{
    display:flex;
    font-size:200%;
    justify-content: space-around;
    padding-top:10px;
}

div{
    margin-left:10px;
    margin-right:10px;
}

.noline{
    text-decoration: none;
    color:black;
}

.no_button_line{
    text-decoration: none;
    color:black
}

img{
    width: 300px;
}

#mid{
    display:flex;
    justify-content:center;
    background-color: #f2f2f2;
    padding:30px;
    padding-top:30px;
    padding-bottom:60px;
}

h1{
    font-size:40px;
    text-align: center;
}

#desc{
    margin: 0px;
}

#desc div{
    margin-top: 50px;
}

#project_container, #grade_container{
    margin:0px;
}

#projects{
    background-color: white;
    display:flex;
    justify-content: center;
}

#grades{
    display: flex;
    justify-content: center;
}

#list{
    display: flex;
    flex-direction: column;
}

.new_pic{
    margin-left: 20px;
}



footer{
    background-color: #f2f2f2;
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    text-align:center;
}

@media(max-width:1030px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header #logo a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #logo img, .images img{
        width:75%;
    }
    
    #nav{
        margin:0px;
    }

    #nav div{
        font-size:30%;
        font-weight: bold;
    }

    #mid{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:0px;
        padding-top:60px;
        padding-bottom:30px;
    }

    #txt{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #desc{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:80%;
        text-align:center;
    }

    #name{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width:50%
    }

    h1{
        font-size: 30px;
    }

    #project_container{
        background-color: rgba(128,0,32,0.5);
        display: flex;
        flex-direction: column;
        padding-bottom:5px;
        padding-top:5px;
        margin:0px;
        width:93.5%
    }
    
    .new_pic{
        margin-left:0px;
        border: 10px solid black;
    }
    
    .new_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:20px
    }

    .link_align{
        display: flex;
        justify-content: center;
    }

    .button_opacity{
        margin-top: 10px;
    }
    
    .button_pos{
    align-self: center;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        font-size: 50%;
    }
}